{% extends "personal/header.html" %}

{% block content %}
<p><b>About Project</b></p>
<p>
    An insight of stock market trends has been an area of vast interest of those who wish to make a profit by trading the stocks in the stock market.
    The goal of the project is to generate an appropriate forecasting model to predict stocks of a selected company for next 5 years. The two biggest
    stock exchanges in the United States are the New York Stock Exchange (NYSE), founded in 1792 and the Nasdaq, founded in 1971.
</p>

<p>
    Right now, deciding on which companies to invest is largely subjective based on human judgment and experience. Hence a mathematical model would
    increase the effectiveness of investment and could avoid major losses. The 5 major companies of Nasdaq - Apple Inc, Google Inc, Amazon, Facebook,
    and Microsoft are selected to create a prediction model for narrowing the scope of the project.
</p>

<p>
    Latest stock market data is available on Yahoo Finance website which is updated daily.
    This data can be downloaded for free and data will be modified for our analysis. The
    project is majorly focused on identifying the risk associated with the stock.
</p>

{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}
